<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Login to your OpenTSS Account</h1>

<form action="" method="post">
    <h2>Username</h2>
<input type="text" name="username" value="username"></input>
    <br>
    <h2>Password</h2>
<input type="password" name="password" value="password"></input>
    <br>
    <br>
<input type="submit" name="loginbutton" value="Login"></input>
    <br>
</form>

</body>
</html>